<div class="media" *ngFor="let seguidor of followers">
    <div class="media-left">
        <a href="#">
            <img src={{seguidor.avatar_url}} alt="" class="media-object avatar">
        </a>
    </div>

    
<div class="media-body">
    <h4 class="media-heading">
        <a [routerLink]="['/profile', seguidor.id, seguidor.login]" >{{seguidor.login}}</a>
    </h4>
    <a href="seguidor.html_url">{{seguidor.html_url}}</a>
</div>
</div>

<!--Simple route
-a routerLink=""
property binding
[routeLink]="['',]"

-->
